.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #111231;
  height: 150px;
  padding: 20px;
  color: rgb(113, 200, 235);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 25pt;
  color: #490477;
}

.Vote-results {
  font-size: 20pt;
  color: #490477;
}

ul{
    list-style-type: none;
    position: relative;
    padding-left: 30%;
    display: flex;
}

.Vote-button{
    padding: 40px;
    border: 2px solid #490477;
    background-color: #8059f4;
    color: #fff;
    margin-left: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.Vote-button:hover{
    background-color: #490477;
    color: #fff;
}

.Vote-button:active{
    opacity: 0.8;
}

.Show-button{
    padding: 10px;
    width: 69px;
    border: 2px solid #490477;
    background-color: #8059f4;
    color: #fff;
    margin-left: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.Show-button:hover{
    background-color: #490477;
    color: #fff;
}

.Show-button:active{
    opacity: 0.8;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
